<div class="container top-container pad-top-15 pad-bottom-10 pad-left-15 ">
  <h5><%= link_to @shop.name, shop_path(@shop), class:"dark-gray" %></h5>
</div>
<div class='bg-white pad-top-10 margin-bottom-17'>
  <%= render partial: 'drinks/drinks_list', locals: { drinks: @drinks, shop: @shop } %>
</div>

<div id="addDrink" class="reveal-modal small" data-reveal>
<%= render "drinks/form" %>
<a class="close-reveal-modal">&#215;</a>
</div> 

