<div class="container top-container">
  <h5><%= link_to @shop.name, shop_path(@shop) %></h5>
</div>
<div class='bottom-container drinksPartial'>
  <%= render partial: 'drinks/drinks_list', locals: { drinks: @drinks, shop: @shop } %>
</div>

<div id="addDrink" class="reveal-modal small" data-reveal>
<%= render "drinks/form" %>
<a class="close-reveal-modal">&#215;</a>
</div>  

