<div class= "small-2 columns">
  <ul class="side-nav">
    <li class = "heading shop-name">
      <%= link_to @shop.name, shop_path(@shop) %>
    </li>
    <% @drinks.each do |drink| %>
      <li> <%= link_to drink.name , shop_drink_path(@shop, drink) %></li>
    <% end %>  
      <li class="heading"> 
        <%= link_to new_shop_drink_path(@shop) do %>
          <i class= "fa fa-plus"></i>
          Add a Coffee
        <% end %>  
      </li>
  </ul>
</div>