<h5 class="heading shop-name pad-top-20 pad-left-15"><%= link_to @shop.name, shop_path(@shop), class:"" %></h5>
<hr>
<div class='drinksPartial'>
  <%= render partial: 'drinks/drinks_list', locals: { drinks: @drinks, shop: @shop } %>
</div>

<div id="addDrink" class="reveal-modal small" data-reveal>
<%= render "drinks/form" %>
<a class="close-reveal-modal">&#215;</a>
</div> 

