<div class="row ">
  <div class="large-4 columns show-for-large-up ">
    <div class= "container sidebar">
      <p>We will put things</p>
    </div>
  </div>
  <div class="small-12 large-8 columns">
    <div class= "container row-list">
      <% @shops.each do |shop| %>
        <div class="row row-item">
          <div class="small-2 columns photo-item">
            <% if shop.pictures.first %>
              <%= link_to image_tag(shop.pictures.first.photo.url(:thumb), class: "th radius"), shop_path(shop)  %>
            <% else %>
            <%= link_to image_tag("http://placehold.it/100x100", class: "th radius"), shop_path(shop)  %>
            <% end %>  
          </div>
          <div class="small-10 columns" >
            <h3><%=link_to shop.name,shop_path(shop) %></h3>
            <p class=''><%= "#{shop.location.city},#{shop.location.state}" if shop.location %></p>
          </div>
        </div> 
      <%end%>
    </div>
  </div>  
</div>



