<!-- <div class= "row"> -->
  <%= render 'shops/sidebar' %>
  <div class= "small-10 columns"> 
    <h1><%= @shop.name %></h1>
    <h2><%= @shop.description %></h2>
    <h2><%= link_to @shop.website, url_with_http_protocol(@shop.website), :target => '_blank' %></h2> 
  </div> 
<!-- </div> -->

