<ul>
  <% drinks.each do |drink| %>
    <li><%= link_to drink.name , shop_drink_path(shop, drink) %></li>
  <% end %>
  <% if current_user %>
    <li><a href="#" data-reveal-id="addDrink"><i class="fa fa-plus"></i> Add a Coffee</a></li>  
  <% end %>
</ul>
