<!-- 

$('#addDrink .button').click( function(event){
  event.preventDefault();
  var drink = $('#drink_name').val();  
  $( ".side-nav" ).append( "<li>" + drink + "</li>" )
  .appendTo('#side-nav');  
})
 -->


<% if @drink.new_record? %>
  // alert("Please sign in before adding a drink!");
  // not saved yet
<% else %>
  // Saved
  console.debug($('.drinksPartial').length);
  $('#addDrink').foundation('reveal', 'close')
  var partial =  "<%= j render(partial: 'drinks/drinks_list', locals: { drinks: @drinks, shop: @shop }) %>";
  console.debug(partial);
  $('.drinksPartial').html(partial);
<% end %>