<!-- 

$('#addDrink .button').click( function(event){
  event.preventDefault();
  var drink = $('#drink_name').val();  
  $( ".side-nav" ).append( "<li>" + drink + "</li>" )
  .appendTo('#side-nav');  
})
 -->


<% if @drink.new_record? %>
  // not saved yet
<% else %>
  // Saved
  $('#addDrink').foundation('reveal', 'close') 
  $('#drinksPartial').html("<%= j render partial: 'drinks/drinks_list', locals: { drinks: @drinks, shop: @shop } %>"
)
<% end %>