<ul class = "favorite-list">  
  <% @user.favorited_shops.each do |shop| %>
    <li><%= link_to shop.name, shop_path(shop.id) %> | <%= link_to '', favorite_path(shop.id), class:"fa fa-bomb", method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>