<ul class = "favorite-list">  
  <% @user.favorited_drinks.each do |drink| %>
    <li><%= link_to drink.name, shop_drink_path(drink.shop_id, drink) %> | <%= link_to '', favorite_path(drink.id), class:"fa fa-bomb", method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>