<div class="text-center">
  <h5>Leaderboard</h5>
</div>

<table>
  <thead>
    <tr>
      <th width="100">Position</th>
      <th>Name</th>
      <th width="150">Rank</th>
      <th width="150">Points</th>
      <th width="150">Follow</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr> 
        <td>1</td>
        <td><%= link_to user.name, user_path(user.id) %></td>
        <td><span class="success round label"><%= user.rank %></span></td> 
        <td><%= user.points %></td>
        <td>
          
        </td>
      </tr> 
    <% end %>  
  </tbody>
</table> 
     
  