<h3>Leaderboard</h3>
<% @users.each do |user| %>
  <div class= "container information-display">
    <%= link_to image_tag(user.avatar.url(:thumb), class: "user-thumb radius"), user_path(user.id) %>
    <%= link_to user.name, user_path(user.id) %> <%= user.points %> <%= user.rank %>
  </div>  
<% end %>  