<h3 class='text-center'>Our Team</h3>
<div class='row'>
  <div class='small-4 columns'>
    <img src='http://placehold.it/400x270&text=[img]'>
    <p class='centered font large'>Chase Donohue</p>
    <p class='centered font'> 
      Looking for a Career in software developing, where I can learn, grow and apply my skills and talents. I am hard working, goal focused, creative, work well with others, and determined to succeed.
    </p>
    <div class='centered'>
      <i class='fa fa-envelope fa-3x'></i>
      <i class='fa fa-github fa-3x'></i>
      <i class='fa fa-linkedin-square fa-3x'></i>
      <i class='fa fa-facebook-square fa-3x'></i>
      <i class='fa fa-twitter-square fa-3x'></i>
    </div>
  </div>
  <div class='small-4 columns'>
    <img src='http://placehold.it/400x270&text=[img]'>
    <p class='centered font large'> Katherine Muedas </p>
    <p class='centered font'><!--place description here--> </p>
    <div class='centered'>
      <i class='fa fa-envelope fa-3x'></i>
      <i class='fa fa-github fa-3x'></i>
      <i class='fa fa-linkedin-square fa-3x'></i>
      <i class='fa fa-facebook-square fa-3x'></i>
      <i class='fa fa-twitter-square fa-3x'></i>
  </div>
  </div>
  <div class='small-4 columns'>
    <img src='http://placehold.it/400x270&text=[img]'>
      <p class='centered font large'> Phill Walker </p>
      <p class='centered font'><!--place description here--> </p>
    <div class='centered'>
      <i class='fa fa-envelope fa-3x'></i>
      <i class='fa fa-github fa-3x'></i>
      <i class='fa fa-linkedin-square fa-3x'></i>
      <i class='fa fa-facebook-square fa-3x'></i>
      <i class='fa fa-twitter-square fa-3x'></i>
    </div>
  </div>
</div>