<h3 class='text-center font large'>Our Team</h3>
<hr>
<div class='row'>
  <div class='small-4 columns'>
    <img src='http://placehold.it/400x270&text=[img]'>
    <p class='centered font large'>Chase Donohue</p>
    <p class='centered font'> 
      Looking for a Career in software developing, where I can learn, grow and apply my skills and talents. I am hard working, goal focused, creative, work well with others, and determined to succeed.
    </p>
    <div class='centered'>
      <a class='fa fa-envelope fa-3x' href='mailto:chasedonohue01@gmail.com'></a>
      <a class='fa fa-github fa-3x' href='https://github.com/cdonohue1'></a>
      <a class='fa fa-linkedin-square fa-3x' href=''></a>
      <a class='fa fa-facebook-square fa-3x' href='https://www.facebook.com/chase.donohue.52' ></a>
      <a class='fa fa-twitter-square fa-3x' href=''></a>
    </div>
  </div>
  <div class='small-4 columns'>
    <img src='http://placehold.it/400x270&text=[img]'>
    <p class='centered font large'> Katherine Muedas </p>
    <p class='centered font'><!--place description here--> </p>
    <div class='centered'>
      <a class='fa fa-envelope fa-3x' href='mailto:<!--place email here-->'></a>
      <a class='fa fa-github fa-3x' href='<!--place links here-->'></a>
      <a class='fa fa-linkedin-square fa-3x' href='<!--place links here-->'></a>
      <a class='fa fa-facebook-square fa-3x' href='<!--place links here-->'></a>
      <a class='fa fa-twitter-square fa-3x' href='<!--place links here-->'></a>
  </div>
  </div>
  <div class='small-4 columns'>
    <img src='http://placehold.it/400x270&text=[img]'>
      <p class='centered font large'> Phill Walker </p>
      <p class='centered font'><!--place description here--> </p>
    <div class='centered'>
      <a class='fa fa-envelope fa-3x' href='mailto:<!--place email here-->'></a>
      <a class='fa fa-github fa-3x' href='<!--place links here-->'></a>
      <a class='fa fa-linkedin-square fa-3x' href='<!--place links here-->'></a>
      <a class='fa fa-facebook-square fa-3x' href='<!--place links here-->'></a>
      <a class='fa fa-twitter-square fa-3x' href='<!--place links here-->'></a>
    </div>
  </div>
</div>