<h3 class="text-center">About Moar Coffee</h3>
<p>
We are an amazing group developing an awesome website
</p>
<div class='row'>
<i class="fa fa-github fa-3x small-4 small-centered"></i>
<i class="fa fa-github fa-3x small-4 small-centered"></i>
<i class="fa fa-github fa-3x small-3 small-centered"></i>
</div>