@import "variables";
@import "foundation_customize";
@import "framework_and_overrides";
@import "font-awesome";
@import "users";
@import "reviews";

body{
  background-color: rgba(140, 95, 9, .3);
}
main {
  padding-left: 0px;
  padding-right: 0px;
  background-color: $light;
}

.nav-icon{
  padding-left: 13px;
}

.middle .small-title-color a{
  color: white;
}
//entire nav bar
// .no_margin, .top-bar {
//   margin: 0;
// }
//right links
// .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
//   background-color: #614000;
// }
// .top-bar-section li:not(.has-form) a:not(.button):hover{
// background-color: #3D2800;
// }
// #color_nav {
//    background-color: $primary-color;
// }
// .top-bar.expanded .title-area{
//   background-color: $primary-color;
// }
li {
  list-style-type: none;
}
p a {
  color: #897515;
}
a:hover {
  transition: background-color 0.5s ease;
  color: #896115;
}
//active does not work here need to reasearch 
//a:active {
//   color: #896115;
// }

//buttons
.button {
  border-radius: 5px;
  background-color:#3E8E9D;
}

.button:hover{
  background-color: rgba(3, 87, 103, .8);
   transition: background-color 0.5s ease;
}
.cafe_description_index{
  min-height: 5em;
  max-height: 6em;
  white-space: pre-line;
  overflow: hidden;
}

.darker {
  background: darken($light, 10%);
}
//large screen media query
@media (min-width: 1017px) {




//boxes on shop page
//why cant margins be added 

}
.box {
  padding:1em;
  background-color: darken($light, 5%);
}
//small screen
@media (max-width: 640px){
  .row, section, .main_shop_page{
    text-align: center;
  }
}