@import "framework_and_overrides";
@import "font-awesome";

main {
  background-color: rgba(140, 95, 9, .21);
}

//entire nav bar
.no_margin, .top-bar {
  margin: 0;
}
//right links
.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
  background-color: #614000;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
background-color: #3D2800;
}
.tob-bar {
   background-color: #8C5F09;
}
li {
    list-style-type: none;
}
a {
  color: #897515;
}
a:hover {
    color: #896115;
  }
// moar-coffee name
@media (min-width: 700px) {
.top-bar{
 background-color: #8C5F09;
 height: 12%; 
 width: 100%;
}
.top-bar .name {
 font-size: 2.3em;
 margin-top: .6em;

}
// set of nav bar links
.top-bar-section li a {
  margin-top: 2.8em;
}
// individual nav bar links
.top-bar-section ul li > a {
  font-size: 1em;
}
}