$alert-transition-speed: 300ms;
$alert-transition-ease: ease-out;
@import "variables";
@import "utilities";
@import "foundation_customize";
@import "framework_and_overrides";
@import "select2";
@import "font-awesome";
@import "sitewide";
@import "users";
@import "reviews";
@import "shops";
@import "leaderboard";
@import "about";

//used on all pages
//nav
.top-bar-section ul li > a{
  &:hover{
    border-bottom: .2em solid $button-color;
  }
}
.nav-icon{
  padding-left: 13px;
}

//body
//high level styleing for body
main {
  padding-left: 0px;
  padding-right: 0px;
}


//search function
#search-box {
  background: $our-gray;
  border-radius: 10px;
}
#search {
    border-radius: 13px 0px 0px 13px;
}
#search-results{
  background: $our-gray;
  border-radius: 10px;
}
.fa-search {
  z-index: 2;
}
///end of search function


.contain-to-grid {
  padding: 7px;
}

#user-stuff{
  background: #ffffff;
}

.middle .small-title-color a{
  color: $primary-color;
}
img{
  margin: .5em;
}


//Facebook Share Icon
.uiIconText {
  margin-bottom: .5em;
}
.FBB {
  margin-bottom: .5em;
}
.activity_review {
  margin: 0px;
}
.margin_main_liine {
 margin-top: 0px; 
}
///end of Facebook share icon


//modals
//floats buttons for new review modal
.new_review {
  float: inherit;
  margin-right: 4px;
}

#no_float{
  float: none;
}

//add drink modal
#addDrink, .open{
  box-shadow: 0 0 0 .5px $button-color inset;
}
.reveal-modal {
border:none;
  }
//sign in model
.authform form {
  border: none;
  background-color: #fff;
}
.reveal-modal.small, .small {
  width: 32%;
}
//end of modals

//flash messages
.flash {
  z-index: 2;
  transition-duration: 1s;
  transition-timing-function: ease-out; 
}
//end of flash messages


#no_float{
  float: none;
}

li {
  list-style-type: none;
}

.main-link{
  color: $primary-color;
  &:hover{
    color: lighten($primary-color, 15%);
  }
}
// buttons
.button {
  background-color:$button-color;
}

.button:hover{
  box-shadow: 0 0 0 1px $button-color inset;
  background-color: $hover-color ; //rgba(41, 170, 115, .5)
  transition: background-color 0.5s ease;
}
//end of buttons
.darker {
  background: darken($primary-color, 10%);
}
.has-tip:hover, .has-tip:focus {
  border-bottom: none;
}
.no_reviews {
  margin-left: 1.3em;
}
.container .top-container{
  margin-top: 0px;
}
//shops boxes
.box {
  background-color: darken($primary-color, 5%);
  box-sizing: padding-box; 
  padding:1em;
  min-height: 12.5em;
  max-height: 12.5em;
  text-overflow: ellipsis;
}
.postfix {
  border-radius: 0px 13px 13px 0px
}
//footer
.footer-style {
  background: #60605e;
  color: white;
}
/////////used on specific pages/////////
///used on cafe page
.cafe_description_index{
  min-height: 5em;
  max-height: 6em;
  white-space: pre-line;
  overflow: hidden;
}
///drinks page 
.top-container {
  margin-top: 0px;
}
///used on leader board
.leaders{
  background: white;
}
///used news feed
#newsfeed{
  background: $our-gray;
  border-radius: 10px;
}

//for mid to small-screens for search bar
//large screen media query
@media (min-width: 1025px) {
  .top-bar-section .main_search_bar {
    float: right;
    padding: 0px;
  }
  .inside_search_bar{
    margin-top: 11px;
  }
  .activity {
    margin: 0 .5em;
  }
}
//mid size media query
@media (max-width: 1024px) {
  .inside_search_bar {
    width: 100%
  }
}
//small screen
@media (max-width: 705px){
  .row, section, .main_shop_page{
    text-align: center;
  }
}

 

