.top-container{
  background-color: darken($our-gray,5%);
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  border-bottom: 2px solid $primary-color;
  h5, h5 a{
    color: $dark-gray;
    &:hover{
      color: darken($dark-gray,20%);
    }
  }
}

.bottom-container{
  background-color: white;
  padding-top: 10px;
  margin-bottom: 15px;
  ul{
    margin: 0;
    li{
      position: relative;
      margin: 0 10px;
      &:last-child {
        padding-bottom: 10px;
      }
      .absolute-icon{
        position: absolute;
        top: -1px;
        right: -5px;
      }
    }
  }
  hr{
    margin: 5px 0;
  }
}

.big-container{
  @extend .bottom-container; 
  .each-box{
    .links{
      position: relative;
      text-align: right;
      .share-links{
        padding-top: 25px;
        position: absolute;
        top: 20px;
        right: -46px;
        .FBB{
          text-align: left;
          position: absolute;
          top: 60px;
          right: 60px;
        }
      }
      .absolute-icon{
        position: absolute;
        top: 10px;
        right: 0px;
      }
    }
  }
}

.row-list{
  padding: 0 24px;

}

.row-item{
  padding: 18px 0;
  border-bottom: 1px solid #e9e9e9;
}

// .information-display{
//   padding: 18px;
//   background-color: $white;
// }
header nav.top-bar.show-for-large-up .top-bar-section .right .has-form{
  padding: 0;
  .nav-search{
    padding-top: 18px;
  }
  
}

main{
  min-height: 88vh;
  @media (min-width: 1025px) {
    min-height: 85vh;
  }
}

.contain-to-grid {
  box-shadow: 0 -7px 0px 7px $primary-color;
  border-bottom: 10px solid $our-gray; 
  margin-top: 5px;
}
 
.left-off-canvas-menu, .right-off-canvas-menu{
 border-top: 5px $primary-color solid; 
 border-bottom: 2px $primary-color solid; 
}

