<h3>Activities</h3>

<% if @activities %>
  <% @activities.each do |activity| %>
  <div class="activities">
    <%= link_to image_tag(activity.owner.avatar.url(:thumb), class: "user-thumb radius"), user_path(activity.owner)%> <%= activity.owner.name if activity.owner %>
    <%= render_activity activity %>
    <%#= activity.inspect %>
    <hr>
    <% end %>
  </div>

<% else %>

<% end %>