<div id= "newsfeed" class= "small-8 large-8 small-centered text-left columns">
  <h3>Activities</h3>

    <% @activities.each do |activity| %>
      <% if activity.trackable %>
        <div class="activities">
          <%= link_to image_tag(activity.owner.avatar.url(:thumb), class: "user-thumb radius"), user_path(activity.owner)%> <%= link_to activity.owner.name,
                                                                                                                                        user_path(activity.owner.friendly_id) %>
          <%= render_activity activity %>
          <hr>
      <% end %>
    <% end %>
  </div>
</div>