<% unless @checkins.empty? %>
  <div class="reviews-section">
    <h5 class= "pad-top-20 pad-left-15">Recent Check-ins</h5>
    <hr>
    <ul>
      <% @checkins.each do |review| %>          
        <li>
          <p>
            <%= link_to review.user.name, user_path(review.user) %> is drinking <%= link_to review.drink.name, shop_drink_path(review.shop.id, review.drink.id) %> from <%= link_to review.shop.name, shop_path(review.shop.id) %>
          </p>
          <p>
            <% if current_user && review.user_id == current_user.id %> 
              <%= link_to drink_review_path(@drink.id , review.id), method: :delete, data: {confirm: 'Are you sure you want to delete this checkin?'} do %>
                <i class="fa fa-trash danger"></i>
              <% end %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>