<% unless @checkins.empty? %>
  <div class="top-container">
    <h5>Recent Check-ins</h5>
  </div>
  <div class='bottom-container'>
    <ul>
      <% @checkins.each do |review| %>          
        <li>
          <%= link_to review.user.name, user_path(review.user) %> is drinking <%= link_to review.drink.name, shop_drink_path(review.shop.id, review.drink.id) %> from <%= link_to review.shop.name, shop_path(review.shop.id) %>
          <% if current_user && review.user_id == current_user.id %> 
            <%= link_to drink_review_path(@drink.id , review.id), method: :delete, data: {confirm: 'Are you sure you want to delete this checkin?'} do %>
              <i class="fa fa-trash-o danger absolute-icon"></i>
            <% end %>
          <% end %>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>  
<% end %>